#quoteButton {
    margin: 0 auto;
}

.contentDiv {
    margin: 20px 0;
}

.author {
    margin-right: 10%;
}

a {
    display: block;
    margin: 25px 10% 0 0;
    width: 105px;
    float: right;
}

a:link {
    text-decoration: none;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}